- model_class = Employee
.page-header
  = image_tag("/assets/show_hr.png")
  %h1=t '.title', :default => ['%{model} Admission'], :model => model_class.model_name.human.titleize
-unless @last_admitted_employee.nil?
  %p.flash-msg
    = "#{t('last_employee_number')} #{@last_admitted_employee.employee_number}"
= render :partial => "form"
