- model_class = Student
.page-header
  = image_tag("/assets/student_details_logo.jpg")
  %h1=t '.title', :default => model_class.model_name.human.titleize
  %h3= 'Details'
.row
  .span3
  .span8
    .row
      .span2
        = image_tag @student.photo.url(:thumb), :class => 'employee_image'
      .span4
        %h3
          %strong= @student.full_name
        %h5.color-red
          = t('admission_no')
          \: #{@student.admission_no}
        .span1
  .span2              
.row
  .span3
  .span8
    .profile_top_banner
      %span.profile= t('details')
      = image_tag("/assets/topbanner.png")
    %table.table.table-bordered.table-striped.tspbd-table
      %caption
      %tbody
        %tr
          %td
            %strong= model_class.human_attribute_name(:class_roll_no) + ':'
          %td= @student.class_roll_no
        %tr
          %td
            %strong= model_class.human_attribute_name(:admission_date) + ':'
          %td= @student.admission_date
        %tr
          %td
            %strong= model_class.human_attribute_name(:batch_id) + ':'
          %td= @student.batch_id
        %tr
          %td
            %strong= model_class.human_attribute_name(:date_of_birth) + ':'
          %td= @student.date_of_birth
        %tr
          %td
            %strong= model_class.human_attribute_name(:gender) + ':'
          %td= @student.gender
        %tr
          %td
            %strong= model_class.human_attribute_name(:blood_group) + ':'
          %td= @student.blood_group
        %tr
          %td
            %strong= model_class.human_attribute_name(:birth_place) + ':'
          %td= @student.birth_place
        %tr
          %td
            %strong= model_class.human_attribute_name(:nationality_id) + ':'
          %td= @student.nationality_id
        %tr
          %td
            %strong= model_class.human_attribute_name(:language) + ':'
          %td= @student.language
        %tr
          %td
            %strong= model_class.human_attribute_name(:religion) + ':'
          %td= @student.religion
        %tr
          %td
            %strong= model_class.human_attribute_name(:student_category_id) + ':'
          %td= @student.student_category_id
        %tr
          %td
            %strong= model_class.human_attribute_name(:address_line1) + ':'
          %td= @student.address_line1
        %tr
          %td
            %strong= model_class.human_attribute_name(:address_line2) + ':'
          %td= @student.address_line2
        %tr
          %td
            %strong= model_class.human_attribute_name(:city) + ':'
          %td= @student.city
        %tr
          %td
            %strong= model_class.human_attribute_name(:state) + ':'
          %td= @student.state
        %tr
          %td
            %strong= model_class.human_attribute_name(:pin_code) + ':'
          %td= @student.pin_code
        %tr
          %td
            %strong= model_class.human_attribute_name(:country_id) + ':'
          %td= @student.country_id
        %tr
          %td
            %strong= model_class.human_attribute_name(:phone1) + ':'
          %td= @student.phone1
        %tr
          %td
            %strong= model_class.human_attribute_name(:phone2) + ':'
          %td= @student.phone2
        %tr
          %td
            %strong= model_class.human_attribute_name(:email) + ':'
          %td= @student.email
        %tr
          %td
            %strong= model_class.human_attribute_name(:immediate_contact_id) + ':'
          %td= @student.immediate_contact_id
        %tr
          %td
            %strong= model_class.human_attribute_name(:is_sms_enabled) + ':'
          %td= @student.is_sms_enabled
        %tr
          %td
            %strong= model_class.human_attribute_name(:status_description) + ':'
          %td= @student.status_description

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), students_path, :class => 'btn'
  - if can? :update, @student
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_student_path(@student), :class => 'btn'
  - if can? :destroy, @student
    = link_to t('.destroy', :default => t("helpers.links.destroy")), student_path(@student), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
