- model_class = MyConfiguration
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:config_key) + ':'
  %br
  = @my_configuration.config_key
%p
  %strong= model_class.human_attribute_name(:config_value) + ':'
  %br
  = @my_configuration.config_value

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), my_configurations_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_my_configuration_path(@my_configuration), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), my_configuration_path(@my_configuration), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
